.footer {
    bottom: 0;
    clear: both;
    display: none;
    font-size: 10px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;

    a {
        color: #a6a6a6;

        &:hover {
            color: v(hover-color);
        }
    }

    @media screen and (min-width: $md) {
        display: block;
    }
}
