{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
{{ range $paginator.Pages }}
<div class="post animated fadeInDown">
    <div class="post-title">
        <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        <div class="p_part"><p>{{ .Summary }}</p></div>
        <div class="meta">
            <div class="time-info">
                <i class="fa fa-sun-o"></i>
                <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            </div>
            <div class="author-info">
                <span>{{ .Params.author }}</span>
            </div>
        </div>
    </div>
    <div class="post-content">
        {{ .Summary }}
    </div>
    <div class="post-footer">
        <div class="meta">
            <a href="{{ .RelPermalink }}" class="read-more">Continue Reading</a>
            <div class="info">
                {{ with .Params.tags }}
                {{- range $index, $el := . -}}
                <a class="tag" href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
                {{- end -}}
                {{ end }}       
            </div>
        </div>
    </div>
</div>
{{ end }}
<div class="pagination">
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
