<section id="menu" class="menu_wrapper w100 bg-black-20 absolute">
    <section class="offcanvas_menu bg-white pv4 ph3 w6 absolute mw80">
        <ul class="links list p0 mb0">
            <li class="ph3">
                <a href="#" class="link ttu">
                    <h3 class="dark-gray">Lorem ipsum</h3>
                    <p class="moon-gray f7">Feugiat tempus veroeros dolor</p>
                </a>
            </li>
            <li class="mt3 ph3 pt3 bt b--black-50">
                <a href="#" class="link ttu">
                    <h3 class="dark-gray">Dolor sit amet</h3>
                    <p class="moon-gray f7">Sed vitae justo condimentum</p>
                </a>
            </li>
            <li class="mt3 ph3 pt3 bt b--black-50">
                <a href="#" class="link ttu">
                    <h3 class="dark-gray">Feugiat veroeros</h3>
                    <p class="moon-gray f7">Phasellus sed ultricies mi congue</p>
                </a>
            </li>
            <li class="mt3 ph3 pt3 bt b--black-50">
                <a href="#" class="link ttu">
                    <h3 class="dark-gray">Etiam sed consequat</h3>
                    <p class="moon-gray f7">Porta lectus amet ultricies</p>
                </a>
            </li>
        </ul>
    </section>
</section>
