<section class="post mb4 pa4 pb1 bg-white ba b--black-20">
    <div class="pb4 mb4 bb b--black-10 ttu">
        <div class="title tc">
            <h2><a href="single.html" class="link dark-gray">Magna sed adipiscing</a></h2>
            <p class="ttu f7">Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta flex items-center justify-around">
            <time class="published" datetime="2015-11-01">November 1, 2015</time>
            <span>|</span>
            <a href="#" class="author flex items-center link dark-gray"><img src="./icon.jpg" alt="" class="w2" /><span class="name ml3">Jane Doe</span></a>
        </div>
    </div>
    <div class="featured-image aspect-ratio aspect-ratio--16x9 mb3" >
        <div class="aspect-ratio--object cover" style="background-image: url(https://picsum.photos/400/200);"></div>
    </div>
    <p class="lh-copy pt3">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    <div class="mv4 pv2">
        <ul class="actions list">
            <li><a href="single.html" class="link f5 no-underline black bg-animate hover-bg-near-white pa3 ba b--dark-gray">Continue Reading</a></li>
        </ul>
    </div>
</section>
