:root{
    --black:#000;
    --near-black:#111;
    --white:#fff;
    --near-white:#eee;
    --dark-gray:#666,
    --bg-color:#eee;
    --secondary-bg-color:#ccc;
    --tertiary-bg-color:#f4f4f4;
    --heading-color: #111;
    --body-color: rgba(0, 0, 0, 0.7);
    --post-color: rgba(0, 0, 0, 0.44);
    --border-color: rgba(0, 0, 0, 0.15);
    --hover-color: #9eebcf;
    --pre-bg-color: #f9f9fd;
    --nav-text-color:#5a5a5a;
    --tag-color: #424242;
    scroll-padding-top: 100px;
}

html[data-theme='dark'] {
    --bg-color:#292a2d;
    --secondary-bg-color:rgb(119, 119, 122);
    --tertiary-bg-color:#444;
    --heading-color: rgb(169,169,179);
    --body-color:rgb(169,169,179);
    --post-color: rgba(0, 0, 0, 0.44);
    --border-color: rgb(38, 38, 38);
    --hover-color: #e8fdf5;
    --pre-bg-color:rgb(33,33,45);
    --nav-text-color:rgb(191, 191, 191);
    --tag-color: rgb(191, 191, 191);
}

@function v($var, $fallback: null) {
    @if($fallback) {
        @return var(--#{$var}, #{$fallback});
    } @else {
        @return var(--#{$var});
    }
}


